@import "../mixins";
@import "../vars";

@media only screen and (max-width: 1100px){

    .header{
        .navbar{
            @include flex(center, space-between);
            padding: 0 5em;
            gap: 0;
            .menu{
                display: none;
            }
            
            .nav-menu-open-btn{
                position: relative;
                border: none;
                outline: none;
                background: transparent;
                width: 2em;
                height: 2em;
                @include flex(center, center);
                gap: 0.5em;
                border: $pink-neon;
                cursor: pointer;
                color: $pink-neon;
                font-size: 2em;
            }
        }
    }

    .side-menu{
        display: block;
    }

}

@media only screen and (max-width: 600px){
    .header{
        .navbar{
            padding: 0 1.5em;
            gap: 0;

            .nav-book-btn{
                @include smbtnstyle;
            }

            .title{
                font-size: 1.3em;
            }

            .nav-menu-open-btn{
                font-size: 1.8em;
            }
        }
    }
}