/*---------Colors----------*/

$blue-neon: #00d9ff;
$pink-neon: #f44d9b;
$green-neon: #09fbd3;
$red: #e9275b;
$purple-dark: #0d001a;

/*---------Colors----------*/


/*---------Breakpoints----------*/



/*---------Breakpoints----------*/