@import "../mixins";
@import "../vars";

.gallery{
    @include contdivstyle;
    @include flex(center, center, column);
    background-color: $purple-dark;

    .intro{
        @include introstyle;
    }

    .img-container{
        position: relative;
        width: 100%;
        @include flex(center, center, row, wrap);
        gap: 0.3em;
        padding: 0 1em;

        .img{
            position: relative;
            width: 17em;
            height: 17em;
            object-fit: cover;
            cursor: pointer;
            transition: all 0.5s ease;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.5s ease;
            }

            &:hover{
                img{
                    transform: scale(1.15);
                }
            }
        }
    }

    .view-all{
        @include btnstyle;
        border-color: $pink-neon;
        margin-top: 2em;

        &:hover{
            background-color: rgba($pink-neon, 0.3);
        }
    }
}